/loadedfile.npy
/Task_Images
/active_patch_0.pt
/active_spectra_0.pt
/AL_dklgpr_exp1.pt
/acquisition_function_val_1exp.png
/AL_dklgpr_exp2.pt
/active_patch_2.pt
/active_spectra_2.pt
/active_patch_1.pt
/active_spectra_1.pt
/acquisition_function_val_2exp.png
/AL_dklgpr_exp3.pt
/active_patch_3.pt
/active_spectra_3.pt
/acquisition_function_val_3exp.png
/AL_dklgpr_exp4.pt
/active_patch_4.pt
/active_spectra_4.pt
/acquisition_function_val_4exp.png
/AL_dklgpr_exp5.pt
/active_patch_5.pt
/active_spectra_5.pt
/acquisition_function_val_5exp.png
/AL_dklgpr_exp6.pt
/active_patch_6.pt
/active_spectra_6.pt
/acquisition_function_val_6exp.png
/Exploration_1step.png
/Exploration_2step.png
/Exploration_3step.png
/Exploration_4step.png
/Task2_active_patch_1.pt
/Task2_active_spectra_1.pt
/Task2_AL_dklgpr_exp2.pt
/Task2_active_patch_2.pt
/Task2_active_spectra_2.pt
/Task2_Exploration_1step.png
/Task2_AL_dklgpr_exp3.pt
/Task2_active_patch_3.pt
/Task2_active_spectra_3.pt
/Task2_Exploration_2step.png
/Task2_AL_dklgpr_exp4.pt
/Task2_active_patch_4.pt
/Task2_active_spectra_4.pt
/Task2_Exploration_3step.png
/Task2_AL_dklgpr_exp5.pt
/Task2_active_patch_5.pt
/Task2_active_spectra_5.pt
/Task2_Exploration_4step.png
/Task2_AL_dklgpr_exp6.pt
/Task2_active_patch_6.pt
/Task2_active_spectra_6.pt
/Task2_Exploration_5step.png
/Task3_active_patch_1.pt
/Task3_active_spectra_1.pt
/Task3_AL_dklgpr_exp2.pt
/Task3_active_patch_2.pt
/Task3_active_spectra_2.pt
/Task3_Exploration_1step.png
/Task3_AL_dklgpr_exp3.pt
/Task3_active_patch_3.pt
/Task3_active_spectra_3.pt
/Task3_Exploration_2step.png
/Task3_AL_dklgpr_exp4.pt
/Task3_active_patch_4.pt
/Task3_active_spectra_4.pt
/Task3_Exploration_3step.png
/Task3_AL_dklgpr_exp5.pt
/Task3_active_patch_5.pt
/Task3_active_spectra_5.pt
/Task3_Exploration_4step.png
/Task3_AL_dklgpr_exp6.pt
/Task3_active_patch_6.pt
/Task3_active_spectra_6.pt
/Task3_Exploration_5step.png
