/patches.npy
/spectra.npy
/coords.npy
/trained_dklgpr.pt
/dkl_prediction.npy
/dkl_uncertainty.npy
/predicted_spectrum.npy
/measured_spectrum.npy
/inference_spectral_reconstruction.png
/trained_dklgpr_.pt
/patches_10percent.npy
/spectra_10percent.npy
/patches_10.npy
/spectra_10.npy
/trained_dklgpr_10.pt
/dkl_prediction_10.npy
/dkl_uncertainty_10.npy
/predicted_spectrum_10.npy
/measured_spectrum_10.npy
/inference_spectral_reconstruction_10.png
/active_patch_0.npy
/AL_dklgpr_exp0.pt
/acquisition_function_val_exp0.png
/AL_dklgpr_exp1.pt
/active_patch_1.npy
/acquisition_function_val_exp1.png
/AL_dklgpr_exp2.pt
/active_patch_2.npy
/acquisition_function_val_exp2.png
/active_spectra_0.npy
/active_spectra_1.npy
/active_spectra_2.npy
/AL_dklgpr_exp3.pt
/active_patch_3.npy
/active_spectra_3.npy
/acquisition_function_val_exp3.png
/inference_10_spectral_reconstruction.png
/dkl_10_prediction.npy
/dkl_10_uncertainty.npy
/predicted_10_spectrum.npy
/measured_10_spectrum.npy
/acquisition_function_val_1exp.png
/acquisition_function_val_2exp.png
/acquisition_function_val_3exp.png
